h1 {
    font-family: "Arial", sans-serif;
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #ff0000;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    padding: 0.5em;

}